@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: local('Lora'), local('Lora-Regular'), url(../fonts/lora400.woff) format('woff');
}
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: local('Lora Bold'), local('Lora-Bold'), url(../fonts/lora700.woff) format('woff');
}
@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: local('Arvo'), url(../fonts/arvo400.woff) format('woff');
}
@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    src: local('Arvo Bold'), local('Arvo-Bold'), url(../fonts/arvo700.woff) format('woff');
}